<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: Arial, sans-serif; color: #000; }
    .email-wrapper { padding: 20px; }
    .message { margin-bottom: 20px; font-size: 15px; font-weight: bold; }
    

  </style>
</head>
<body>
  <div class="email-wrapper">
    <p class="message">Dear {{ receipt.invoice.customer_name }},</p>
    <p class="message">Please find your receipt below.</p>
    <div >
      {{ receipt_html | safe }}
    </div>
    <p class="message">Best regards,<br class="message">Hexcode Technologies</p>
  </div>
</body>
</html>
